<% post.comments.each do |comment|%>
<!--image貼る？-->
<%= comment.user.name %>
<%= comment.created_at.strftime('%Y/%m/%d') %><%= comment.comment %>
<% if comment.user == current_user %>
<%= link_to "削除", post_comments_path(comment.post, comment), method: :delete,remote: true,class: "btn-sm btn-danger"  %>
<% end %>
</td>
</tr>
<% end %>