<% post.comments.each do |comment|%>
<!--image貼る？-->
<%= render 'public/users/name',user: comment.user %>
<%= comment.created_at.strftime('%Y/%m/%d') %><%= comment.comment %>
<% if comment.user == current_user %>
<%= link_to "削除", post_comment_path(comment.post.id, comment.id), method: :delete,remote: true,class: "btn-sm btn-danger col-2", "data-confirm" => "本当に削除しますか？"  %>
<% end %>
</td>
</tr>
<% end %>