<div class="container">
  <div class="row">
    <div class="col-md-4"></div>
    <div  style="text-align:left; m-2">

      <h2><em>About</em></h2>
      
      <p>
      インディーズ音楽家の検索、コミュニティサイト"Whose Tone?"<br>
      「作成した経緯」<br>
      動画配信サービスやサブスク制の音楽配信などが主流になった昨今。<br>
      しかし、いくら情報媒体が発達しても<strong>「生のライブ」</strong>には敵いません。<br>
      <br>
      私は音楽家による「生のライブ」はいつの時代も無くならないと考えています。<br>
      そこでインディーズで活動してる音楽家とそれを探してる人々のコミュニティサイトが<br>
      あったらいいなと思い制作に至りました。<br>
      <br>
      また音楽家以外にもライブハウス、飲食店、楽器業界の売上アップのために<br>
      検索機能も実装いたしました。<br>
      リスナーの知らない近所でのイベント、新しい音楽家やお店の発見につながってほしいと願います。<br>
      <br>
      制作者 Waggy
      </p>
      <%= link_to "Top",root_path, class: "btn btn-info"%>

    </div>
  </div>
</div>