<h1>homes/top</h1>

 <div class="offset-2">
   <% unless user_signed_in?%>
   <%= link_to "ログイン", new_user_session_path, class: 'btn btn-secondary' %>
   <%= link_to "新規登録", new_user_registration_path, class: 'btn btn-success' %>
   <% end %>
   <% if user_signed_in?%>
   <%= link_to "マイページ", user_path(@user.id), class: 'btn btn-primary'%>
   <%= link_to "ログアウト", destroy_user_session_path,method: :delete, class: 'btn btn-danger'%>
   <% end %>
 </div>